/* General Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .rooms-banner{
    background: linear-gradient(#0002, #000), url('https://wallpapers.com/images/hd/hotel-room-1920-x-1080-background-ur8zfah9q06oxc6a.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  .header h1{
    text-align: center;
    transform: translate(-50% -50%);
    font-size: 2rem;
  }
  
  .header h1, .header p {
    color: #fff;
  }
  
  /* Availability Section */
  .availability-section {
    display: flex;
    gap: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  select, input[type="date"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .btn {
    cursor: pointer;
    text-align: center;
  }
  
  /* Buttons */
  .btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: var(--dark-text);
    color: #000;
  }
  
  .btn-secondary {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  .btn-secondary:hover{
    background-color: #fff;
    color: #000;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  /* Room Listing Section */
  .room-listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .room-card {
    border: 1px solid var(--text-color);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .room-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .room-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .room-info {
    padding: 15px;
  }
  .room-info h2, p{
    color: #af9c5e;
  }
  .room-info h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .room-info p {
    margin: 10px 0;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination span {
    font-size: 1rem;
    color: #333;
  }
  