
<router-outlet></router-outlet>

<!-- footer -->

<section class="flex flex-col justify-center mt-24">
    <div class="footer-list w-full">
        <ul class="flex flex-wrap justify-between p-5 gap-5">
           <li class="flex flex-row md:flex-col text-xs tracking-widest"><p>STAY WITH US</p> <p class="md:ml-0 ml-5">DINING EXPERIENCE</p></li>
           <li class="flex flex-row md:flex-col text-xs tracking-widest"><p>HAPPENINGS</p> <p class="md:ml-0 ml-5">ROOMS</p></li>
           <li class="flex flex-row md:flex-col text-xs tracking-widest"><p>ABOUT</p> <p class="md:ml-0 ml-5">CONTACT</p></li>
           <li class="flex flex-row md:flex-col text-xs tracking-widest"><p>PRIVACY</p> <p class="md:ml-0 ml-5">TERMS</p></li> 
           <li class="flex flex-row md:flex-col text-xs tracking-widest"><p>INSTAGRAM</p> <p class="md:ml-0 ml-5">TWITTER</p></li>
        </ul>
    </div>
    <div class="mt-5 flex justify-evenly w-full md:text-9xl text-5xl tracking-widest text-[#af9c5e]">
        <span>A</span>
        <span>A</span>
        <span>M</span>
        <span>A</span>
        <span>N</span>
        <span>T</span>
        <span>O</span>
    </div>
</section>