.b-container{
    /* background: linear-gradient(#0002, #000), url('https://images.pexels.com/photos/14246063/pexels-photo-14246063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.container .banner{
    line-height: 1.6rem;
}