
<div class="flex min-h-screen items-center justify-center">
  <div class=" p-8 rounded-lg shadow-md w-full max-w-md">
      <div>
        <button (click)="navigateTo()" class="mb-10 font-bold text-2xl"><i class="fa-solid fa-arrow-left"></i></button>
      </div>
      <h1 class="text-2xl font-bold text-center mb-6">{{ isLoginMode ? 'Login' : 'Sign Up' }}</h1>
      
      <form (ngSubmit)="onSubmit()" class="space-y-4">
        <div>
          <label for="email" class="block text-sm font-medium ">Email</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="userDetails.email"
            name="email"
            required
            class="mt-1 block w-full px-4 py-2 border-none bg-transparent"
            style="border-bottom: 1px solid var(--text-color);"
          />
        </div>
        
        <div>
          <label for="password" class="block text-sm font-medium ">Password</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="userDetails.password"
            name="password"
            required
            class="mt-1 block w-full px-4 py-2 border-none bg-transparent"
            style="border-bottom: 1px solid var(--text-color);"
          />
        </div>
        
        <button
          type="submit"
          class="w-full bg-[var(--dark-text)] text-black px-4 py-2 "
        >
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
      </form>
      
      <div class="flex items-center my-4">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="px-2 text-sm">OR</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>
      
      <button
        (click)="googleSignIn()"
        class="w-full border border-gray-300  px-4 py-2 rounded-md flex items-center justify-center space-x-2"
      >
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo" class="h-5 w-5" />
        <span>Signup with Google</span>
      </button>
      
      <p class="text-sm text-center mt-4">
        {{ isLoginMode ? 'Don\'t have an account?' : 'Already have an account?' }}
        <a (click)="toggleMode()" class="text-blue-600 hover:underline cursor-pointer">
          {{ isLoginMode ? 'Sign Up' : 'Login' }}
        </a>
      </p>
    </div>
  </div>
  