<nav class="p-4 relative">

    <div class="absolute left-4 top-4">
        <button (click)="onToggleMenu()" style="border-bottom: 1px solid white;">Menu</button>
        <ul [ngClass]="{'opacity-100': toggleMenu, 'opacity-0 pointer-events-none': !toggleMenu}"
        class="absolute left-0 mt-2 bg-black shadow-lg p-4 list-none transition-opacity duration-500">
            <li class="p-2 hover:underline cursor-pointer" (click)="navigateTo('/')">Home</li>
            <li class="p-2 hover:underline cursor-pointer" (click)="navigateTo('about')">About</li>
            <li class="p-2 hover:underline cursor-pointer" (click)="navigateTo('rooms')">Rooms</li>
            
        </ul>
    </div>

    <div class="flex justify-center">
        <span class="tracking-widest text-2xl">AAMANTO</span>
    </div>

    <div class="absolute right-4 top-4">
        <button (click)="navigateTo(user?'user':'auth')" style="border-bottom: 1px solid white;">{{user?'Profile':'Login'}}</button>
    </div>
</nav>
