@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color: #0f1b24;
    --text-color: #dbbca5;
    --dark-text: #af9c5e;
}

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--bg-color);
    color: var(--text-color);
 }

